.el-header {
    background-color: #304156;
    color: #fff;
    text-align: left;
    line-height: 60px;
  }
  
  .el-main {
    background-color: #e9eef3;
    color: #333;
    text-align: left;
  }
  
  .el-tree{
      padding: 10px;
  }
  
  .el-button{
      margin-top: 30px;
  }